/*Глобальные настройки проекта*/


/*Глобальные переменые для стилей*/
$max-width:1920px;
$max-width-header:1600px;
/*Глобальные отступы*/
$padding:0px;
$margin:0px;
$background-color:#000000;
$maincolor:#fff;
/*Основной размер сайта*/
/*Подключение обнуляющих стилей*/
@import url(../scss/reset.css);
/*Основыне перменые их можно заменить*/

/*Подключение шрифтов*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

/*Модификаторы стилей - чтобы не писать не дублировать стили*/
.title {
    font-size: 72px;
    font-weight: 900;
    color: #E5E5E5;
    line-height: 1.5;
}

.text {
    font-weight: 400;
    color: #E5E5E5;
    font-size: 36px;
    line-height: 1.5;
}

body {
    font-size: 16px;
    line-height: 1;
    width: 100%;
    height: 100%;
    background-color: $background-color;
    color: $maincolor;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

.container {
    max-width: $max-width;
    margin: 0 auto;

}

.container__why {
    max-width: $max-width;
    margin: 0 auto;

}

.header {
    background: url("../img/header__bg.png") center no-repeat;
    background-size: cover;
    width: 100%;
    height: 880px;
    margin-bottom: 142px;
}

.header::after {
    content: '';

}

.header::before {
    content: '';
    width: 50px;
    height: 50px;
    background-color: red;

}

.header__body {
    display: flex;
    justify-content: center;
    margin-top: 259px;

}

.ff {
    display: flex;
    flex-direction: column;

}

.header__title {}


.body {
    display: flex;
    justify-content: center;
}

.anout__title {
    text-align: center;
    margin: 0px 0px 20px 0px;
}

.about__text {
    margin: 10px;
}

.about__video img {
    max-width: 650px;
    height: auto;
}

.about__game {
    margin-bottom: 334px;
}

.why {
    background: url('../img/why__img.png');

    width: auto;
    height: auto;
    margin-bottom: 72px;
}

.why__title {
    text-align: center;
    margin-bottom: 153px;
}

.why__body {
    display: grid;
    grid-template-columns: minmax(auto, 1fr);
}

.why__row {
    display: flex;
    flex-direction: row;
    max-width: 1902px;
    margin: 0 auto;
}

.why__text {
    padding: 40px;
}

.body__up,
.body__bottom {
    display: flex;
    text-align: center;
}

.genres__title {
    text-align: center;
    margin-bottom: 120px;
}

.genres__body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.card__title {
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: center;

}

.genrer {
    margin-bottom: 50px;
}

.result__row {
    display: flex;
    justify-content: space-between;
}

.result__text {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.result {
    margin-bottom: 50px;
}

.footer {
    margin-bottom: 20px;
}

.footer__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social {
    display: flex;
}

.vk,
.instagram,
.youtube {
    height: 150px;
    width: 150px;
    background-color: #EFD5C3;
    border-radius: 50%;
    align-items: center;
}

.vk img,
.instagram img,
.youtube img {
    padding: 40px;

}

.menu__list {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.menu__link {
    margin: 0 20px;
}

span {
    width: 10px;
    height: 10px;
    background-color: #000;
}

@media (max-width:1920px) {
    .container {
        max-width: 1400px;
    }
}

@media (max-width:1400px) {
    .container {
        max-width: 970px;
    }
}

@media (max-width:767px) {
    .container {
        max-width: 750px;
    }

}


@media screen and (max-width:476px) {
    .container {
        max-width: none;
        margin: 0 auto;
    }

    .header__body {
        margin-top: 0px;
        margin: 10px;
        padding: 10px;
    }

    .body {
        display: flex;
        flex-direction: column;
    }

    .anout__title {
        font-size: 48px;
    }

    .about__text {
        font-size: 18px;
    }

    .about__video img {
        max-width: 400px;
        height: auto;
        padding: 20px;
    }

}

.vk:hover {
    background-color: black;
}

/*dsdsdgfsds*/